name: Rust build and example test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose

    - name: "C/C++ toolchain install"
      run: |
        sudo apt update && sudo apt install build-essential tree

    - name: "example build test"
      run: |
        cargo run ./example/hello_world
        tree ./example/hello_world
        
